<div id="ui container">
    <div class="ui container">
        <h1>Angular 4 - NG Book excersises and samples</h1>

        <div class="ui five item menu">
            <a class="item" [routerLink]="['/formsku']">Form SKU</a>
            <a class="item" [routerLink]="['/formskuwithbuilder']">Form SKU with Builder</a>
            <a class="item" [routerLink]="['/formwithngmodel']">Form with ngModel</a>
            <a class="item" [routerLink]="['/httpsimplerequest']">Http simple request</a>
            <a class="item" [routerLink]="['/httpyoutubesearch']">Http youtube search</a>
            
        </div>
        <div class="ui four item menu">
            <a class="item" [routerLink]="['/routing/soyUnParametro']">Routing</a>
            <a class="item" [routerLink]="['/routing/spotify']">Spotify</a>
            <a class="item" [routerLink]="['/routing/login']">LogIn</a>
            <a class="item" [routerLink]="['/routing/protected']">Protected Page</a>
        </div>
    </div>
    <br>
    <div class="ui container">
        <div class="ui raised segment">        
            <router-outlet></router-outlet>
        </div>
    </div>
</div>